/* different colored letters for right/wrong guesses */
/* 42nd St sign */

body {
    background-image: url(../images/footlights);
    background-size: cover;
}

h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Fascinate Inline', cursive;
    font-size: 44px;
}

.words {
    font-family: 'Roboto Slab', serif;
    color: white;
    letter-spacing: 1px;
}

main {
    width: 960px; 
    text-align: center;
    margin: 200px auto;
}

#how-to-play {
    font-size: 18px;
}
#blanks{
    font-family: 'Limelight', cursive;
    font-size: 36px;
}

.titleLetter {
    min-width: 12px;
    margin: 0 8px;
}

#game-over {
    font-size: 40px;
    margin-top: 40px;
}